/* @import '../node_modules/antd/dist/antd.css'; */
@import "~antd/dist/antd.css"; 

.searchContainer
{
    min-height: 362px;
    max-height: 362px;
    overflow: hidden;
    border-left: 1px solid rgb(232, 232, 232);
}

.ant-table td { white-space: nowrap; }

.positions-box
{
    border-top: 1px solid rgb(232, 232, 232);
}

.positionsTable
{
    min-height: calc(100vh - 440px);
}

.positionsTableToolbar
{
    padding: 5px;
    height: 42px;
}

.ant-table table .numeric-field
{
    text-align: right !important;
}

.searchCriteriasBox
{
    min-height: 320px;
    max-height: 320px;
    overflow: hidden;
}

.searchCriteriasButtonBox
{
    height: 42px;
    overflow: hidden;
}

.searchPanelTabs
{
    min-height: 287px;
    max-height: 287px;
    margin-top: -16px;
    overflow: hidden;
}

.searchPanelTabsFull
{
    min-height: 321px;
    max-height: 321px;
    margin-top: -16px;
}

.searchPanelTabHeight
{
    min-height: 286px;
    max-height: 286px;
}

.attributesList
{
    float: left;
    position: relative;
}

.searchPanelTabAttributesListHeight
{
    max-height: 229px;
}

.scrollable-y
{
    overflow-x: hidden;
    overflow-y: auto;
}

.scrollable-x
{
    overflow-y: hidden;
    overflow-x: auto;
}

.scrollable-x-y
{
    overflow: auto;
}

.scrollable-y-x
{
    overflow: auto;
}

.small-table-line
{
    line-height: 28px;
}

.ant-menu-submenu-title
{
    line-height: 28px !important;
    height: 28px !important;
}

.ant-menu-item
{
    line-height: 28px !important;
    height: 28px !important;
}

.table-actions-without-padding
{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.ant-table-fixed
{
    height: 34px !important;
}

.ant-modal-body
{
    padding: 0 !important;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    width: 250px;
  }
  
  .custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
  }

  .ant-tabs-vertical.ant-tabs-left .ant-tabs-bar .ant-tabs-tab {
    text-align: left !important;
}

.highlighted-row {
    background-color:rgb(230, 247, 255);
}