/* @import '../node_modules/antd/dist/antd.css'; */
@import "~antd/dist/antd.css"; 

.searchContainer
{
    min-height: 362px;
    max-height: 362px;
    overflow: hidden;
    border-left: 1px solid rgb(232, 232, 232);
}

.field-no-wrap { 
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
 }

.positions-box
{
    border-top: 1px solid rgb(232, 232, 232);
}

.positionsTable
{
    min-height: calc(100vh - 440px);
}

.positionsTableToolbar
{
    padding: 5px;
    height: 42px;
}

.ant-table table .numeric-field
{
    text-align: right !important;
}

.searchCriteriasBox
{
    min-height: 320px;
    max-height: 320px;
    overflow: hidden;
}

.searchCriteriasButtonBox
{
    height: 42px;
    overflow: hidden;
}

.searchPanelTabs
{
    min-height: 287px;
    max-height: 287px;
    margin-top: -16px;
    overflow: hidden;
}

.searchPanelTabsFull
{
    min-height: 321px;
    max-height: 321px;
    margin-top: -16px;
}

.searchPanelTabHeight
{
    min-height: 286px;
    max-height: 286px;
}

.attributesList
{
    float: left;
    position: relative;
}

.searchPanelTabAttributesListHeight
{
    max-height: 229px;
}

.scrollable-y
{
    overflow-x: hidden;
    overflow-y: auto;
}

.scrollable-x
{
    overflow-y: hidden;
    overflow-x: auto;
}

.scrollable-x-y
{
    overflow: auto;
}

.scrollable-y-x
{
    overflow: auto;
}

.small-table-line
{
    line-height: 22px;

}



.ant-menu-submenu-title
{
    line-height: 22px !important;
    height: 22px !important;
}

.ant-menu-item
{
    line-height: 22px !important;
    height: 22px !important;
}

.ant-table-small .ant-table-content .ant-table-scroll .ant-table-body table .ant-table-tbody tr td
{
    padding: 0;
}

.ant-table-small .ant-table-content .ant-table-scroll .ant-table-header table .ant-table-thead tr th
{
    padding: 5px 0 5px 0;
    margin-left: 5px;
    
}


.ant-table-fixed
{
    height: 22px !important;
}

.ant-modal-body
{
    padding: 0 !important;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  width: 250px;
}
  
.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.ant-tabs-vertical.ant-tabs-left .ant-tabs-bar .ant-tabs-tab {
  text-align: left !important;
}

.highlighted-row {
  background-color:rgb(230, 247, 255);
}


/* li.ant-menu-submenu.ant-menu-submenu-inline.submenu-selected.ant-menu-submenu-open */
li.ant-menu-submenu.ant-menu-submenu-inline.submenu-selected
{
    background-color: rgb(230, 247, 255) !important;
    color: rgb(24, 144, 255) !important;
    position: relative;
}

.submenu-selected:after
{
    border-right-color: rgb(24, 144, 255);
    border-right-style: solid;
    border-right-width: 3px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 32px;
    width: 3px;
    content: "";
}

.my-menu
{
  margin: 0;
}

.ant-table td { white-space: nowrap; }


.very-small-table .ant-table-small .ant-table-content .ant-table-body table .ant-table-tbody tr td
{
    padding: 0;
    padding-left: 5px;
}

.very-small-table .ant-table-content .ant-table-body table .ant-table-thead tr th
{
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 0;
    padding-right: 0;
}

.very-small-table .ant-table-tbody tr td.ant-table-selection-column,
.very-small-table .ant-table-thead tr th.ant-table-selection-column
{
    text-align: left;
    min-width: 35px;
    max-width: 35px;
    width: 35px;
}

/* .very-small-table .ant-table-tbody tr td.ant-table-selection-column-custom span label span span
{
    margin-left: 5px;
} */
